.backgroundImage {
    background-image: url("https://phonoteka.org/uploads/posts/2022-02/1645170630_1-phonoteka-org-p-zadnii-fon-dlya-kanala-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
